<ion-view>
  <ion-nav-title>{{ detailCtrl.list.name }}</ion-nav-title>
  <ion-nav-buttons side="primary">
    <button class="button button-balanced" ng-click="detailCtrl.toggleDelete()"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="secondary">
    <button class="button button-balanced" ng-click="detailCtrl.removeTodo()">
      New Todo
    </button>
  </ion-nav-buttons>

  <div class="list">
    <a ui-sref="detail({ id: list.$id })" class="item" ng-repeat="todo in detailCtrl.lists">
      {{ list.name }}
    </a>
  </div>

  <ion-list>
    <ion-item ng-repeat="todo in detailCtrl.list.todos">
      {{todo.item}}
    </ion-item>
  </ion-list>
</ion-view>
