<ion-view>
  <ion-nav-title>Todos</ion-nav-title>
  <ion-nav-buttons side="secondary">
        <button class="button button-balanced" ng-click="todosCtrl.showForm()">
          Add
        </button>
      </ion-nav-buttons>

  <!-- <ion-content>

  <ul class="list">

    <li class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Add a Todo" ng-model="todosCtrl.newTodo.item">
      </label>
      <button class="button button-small"></button>

    </li>

  </ul>

</ion-content> -->


  <ion-list>
  <ion-item ng-repeat="item in items">
    {{todo.item}}!
  </ion-item>
</ion-list>
</ion-view>
