<ion-view>
  <ion-nav-title>New Todo</ion-nav-title>
  <ion-nav-buttons side="secondary">
        <button class="button button-balanced" ng-click="listCtrl.showForm()">
          New List
        </button>
      </ion-nav-buttons>

  <!-- <ion-content>

  <ul class="list">

    <li class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Add a Todo" ng-model="listCtrl.newList.item">
      </label>
      <button class="button button-small"></button>

    </li>

  </ul>

</ion-content> -->

<div class="list">
  <a ui-sref="detail({ id: list.$id })" class="item" ng-repeat="list in listCtrl.lists">
    {{ list.name }}
  </a>
</div>


  <ion-list>
  <ion-item ng-repeat="item in items">
    {{todo.item}}!
  </ion-item>
</ion-list>
</ion-view>
